@tailwind base;
@tailwind components;
@tailwind utilities;

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1569c9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;  
  text-decoration: none;
  display: block;
  padding: 7px 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(19, 166, 224);}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

 /* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0; 
    right: 0;   
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;    
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: rgb(188, 183, 183);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }  
  .tag{
    background-color: #1569c9;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;    
    margin: 3px;
  }

  /* back to top btn */
  #btn-back-to-top {
    position: fixed;
    display: none;
  }

  .project{
    background-color: #1569c9;
    color: white;
    padding: 4px;
    margin-bottom: 5px;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000)
  }
