@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;   
    right: 0;     
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  