@tailwind base;
@tailwind components;
.box_shadow{
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    background:linear-gradient(145deg, #e2e8ec, #ffffff);
    padding: 10px;
    margin: 0px 20px;
}

@tailwind utilities;